.Intent {
    margin: 40px;
    border: 10px dotted pink;
  }

.intentClass{
    width: 100px;
    border: 15px solid red;
    padding: 25px;
    margin: 25px;
}

.intentClass2{
    width: 100px;
    border: 15px solid rgb(0, 255, 13);
    padding: 25px;
    margin: 25px;
}
